* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 560px; /*should be the same height as the images*/
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #FFFF33;
  opacity: 0.9;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
}

.img-comp-slider:hover {
  border-radius: 0%;
  background-color: #2196F3;
  -webkit-transform:rotate(45deg);
  -webkit-transition: all 0.5s ease;
}
  